@{
    ViewBag.Title = "Accounts";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
<p>Accounts</p>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Accounts@albatrossgroup.com">Accounts@albatrossgroup.com</a><br />
</address>