@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">
    <h1>IN THE EVENT OF A CRISIS</h1>
</div>

<div>
    <p>
        <h3>What to say...</h3>
        Thank you for bringing this situation to our attention. We have a team that will deal with this, in order to assist them can I take some details from you:

        Your name
        Your contact number
        Your role on the tour concerned (Tour Manager, Driver, Passenger, Policeman etc.)
        Details of the tour concerned
        Location
        Brief description of the crisis including details of when & where the incident occurred

        I now need to pass this information to a member of our Response Team and someone will call you back very shortly.
    </p>

    <p>
        <h3>What to do next...</h3>
        Immediately contact a member of the Group Board to brief them on the situation.

        Unless authorised by a member of the Crisis Management Team no comments or statements should be made to the media or to anyone outside of The Albatross Group
    </p>

    <p>
        <h3>Crisis Documentation</h3>
        All documents for dealing with a Crisis can be found in the Crisis Management Folder on the Common Drive
    </p>

    <p>
        <h3>More information</h3>
        <h4>Background:</h4>
        The Albatross Group retains the services of a specialist Crisis Management Company called Docleaf in order to assist us in the extremely unlikely event of a major crisis occurring during the course of one of our tours.
        <br />
        In conjunction with Docleaf, we have assembled a Crisis Management Team who will form the spearhead of our reaction to any unforeseen crisis. Whilst we hope and believe that this Team and the related planning will never actually be used, it is certainly prudent for us to be prepared.
        <br />
        Each member of the team has a specific role to play although a significant amount of teamwork will be required from the team as a whole if and when called into action.
        <br />

        <h4>The Team:</h4>
        This team is intended to provide a professional reaction to major operational crisis, where we are the legal operators of the tour, i.e. where we are NOT wholesaling it to a tour operator or other third party that then operates the tour under their own name.<br />
        There key roles within the Crisis Management Team are:
        <br />
        ·Crisis Coordinators are the team members who will take overall control of our crisis response and manage the activities of the team, in liaison with the Board of Directors.
        <br />
        ·Travelling Responders are the team members who will be the first in line to actually be despatched to any crisis location in order to coordinate our response at the scene.
        <br />
        ·Operations and Logistics are the team members who will be office based and coordinate all operational aspects of our response.
        <br />
        ·Media Handlers are the team members who are authorised to comment on or make statements about the crisis to the media.  These individuals are the only members of staff authorised to discuss / give permission to discuss the crisis with anyone outside of The Albatross Group.
        <br />
        ·Family Liaison are the team members who will be the primary point of contact for the family members of those impacted by the crisis, they will man a ‘call centre’ recording all information received and sharing it with the other crisis teams as well as communicating updates to family members as advised by the Media Handlers.
        <br />
        <h4>The Crisis:</h4>
        For clarity, we have defined two levels of crisis where the Crisis Team and Crisis Response Plan will be activated.<br />
        <br /><p>
        <strong>Level 1 Crisis:</strong>
        Death of one or more passengers or staff members as a result of an incident or specific event.
        </p>

        <p>
        <strong>Level 2 Crisis:</strong>
        Serious injury to passengers or staff members
        </p>

        Whilst all members of the Crisis Team have received some basic training in the field, our partnership with Docleaf means that we will be able to call on expert assistance at extremely short notice.

        It is also crucial to remember that, in the event of a crisis, the rest of the business must continue to function as normal and therefore everyone within the organisation will be expected to play their role if and when the time comes.

        Of particular importance is to ensure that, in the event of a crisis, nobody speaks to either the trade or consumer press except for the members of the Media Team. In the event of a crisis, we will circulate pre-set scripts with which any employee should be able to deal with any initial press interest. These must be adhered to at all times.

        Ultimately, beyond the usual due diligence that we all must show when arranging tours on behalf of our passengers, we cannot prevent unforeseen events creating a crisis situation for us. However, should the worst happen, we can control how we then deal with this situation in order to ensure that any damage to the individuals concerned, company and our staff are mini
    </p>
</div>